<h4>Pending Approvals</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Game applied for</th>
      <th scope="col">Age</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <% Approval.all.each do |app| %>
      <tr>
        <td><%= app.user.username %></td>
        <td><%= app.game.name %></td>
        <td><%= app.user.dob %></td>
        <td><%= link_to "Application", approval_path(app) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
