<section class="content">
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <h4 class="comment-title">WELCOME, <%= @user&.username&.upcase %></h4>
      <% if @user.forum_game_id && @user.forum_primary_group_id %>
        <p>You are a <%= Rails::Html::FullSanitizer.new.sanitize(@user.forum_primary_group_name) %></p>
        <p>Your main game is <%= Game.find_by(forum_game_id: @user.forum_game_id).name %></p>
      <% else %>
        <br></br>
        <p>Thank you for signing up Ace Clan! Please wait for a member of our admissions team to approve your application. Until then, please feel free to log into our forums and look around. You can use the same login as this website to log in.</p>
      <% end %>
      <% if @user&.forum_secondary_groups&.include?("4") || @user&.forum_secondary_groups&.include?("37") %>
        <%= link_to "Clan Applications", approvals_path, class: "btn btn-info" %>
      <% end %>
      <br></br>
      <button class="site-btn btn-sm"><a style="color:white;" href="https://forum.aceclan.org/">Forums</a></button>
    </div>
  </div>
</section>
