<section class="content">
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <h4 class="comment-title">WELCOME, <%= @user&.username&.upcase %></h4>
      <p>Thank you for applying to Ace Clan! A member of the admissions team will be in touch soon with progess update on your application.</p>
      <p>Until your application is processed, please take a look at our forums below and join our Discord server if you haven't already!</p>
      <br></br>
    </div>
  </div>
</section>
