<section class="page-info-section set-bg">
  <div class="pi-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 text-white">
          <h2>What we play</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section review-page spad">
  <div class="container">
    <div class="row">
      <% Game.all.each do |g| %>
        <div class="col-md-6">
          <div class="review-item">
            <div class="review-cover set-bg">
              <img src="<%= url_for(g.game_image) %>" height="345px" width="558px">
            </div>
            <div class="review-text">
              <h4><%= g.name %></h4>
              <br></br>
              <p><%= g.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


<section class="page-section review-page spad">
  <div class="container">












  </div>
</section>
