<% if user_signed_in? && @user&.game_id.nil? && @user.present? %>
  <section class="content">
    <div class="container  ">
      <div class="col-md-8 offset-md-2">
        <h4 class="comment-title">CLAN APPLICATION</h4>
        The focus for joining AceClan is that you are willing to become a proactive member of the clan, and will follow our code of conduct ( https://forum.aceclan.org/topic/11-code-of-conduct/ ) -
        this stipulates everything from your expected level of commitment to your willingness to make use of our servers & services.
        <br></br>
        You can only apply for a game that we actively support, to determine this you should look to see if we have a forum section dedicated to the game and - if applicable -
        if we host servers in that game. Applying for a specific game does not mean we are disallowing you from playing other games, it just means that this is the game you expect to
        play the most with us, and the command team of this game is responsible for you in respect of promotions and more.
        <br></br>
        If you want to continue browsing the forums and website as a guest, don't fill out this form. You can visit the forums <a href="https://forum.aceclan.org/">here.</a>
        <br></br>
        <%= render "game_application" %>
        <button class="site-btn btn-sm"><a style="color:white;" href="https://forum.aceclan.org/">Forums</a></button>
      </div>
    </div>
  </section>
<% elsif user_signed_in? && @user&.game_id.present? && @user.present? %>
<section class="content">
  <div class="container  ">
    <div class="col-md-8 offset-md-2">
      <h4 class="comment-title">WELCOME, <%= @user.username.upcase %></h4>

      <br></br>
      <button class="site-btn btn-sm"><a style="color:white;" href="https://forum.aceclan.org/">Forums</a></button>
    </div>
  </div>
</section>

<% else %>
  <section class="content">
    <div class="container  ">
      <div class="col-md-8 offset-md-2">
        <div class="contact-form-warp">
          <h4 class="comment-title">CREATE AN ACCOUNT</h4>
          Creating an account using this form, will automaticly create you a login for our forums. You will be able to login with the same username and password.
          <br /><Br />
          <%= render "basic_sign_up" %>
      </div>
    </div>
  </section>
<% end %>

<section class="footer-top-section">
  <div class="container">
    <div class="footer-top-bg">
      <img src="" alt="">
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-logo text-white">
          <img src="" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget mb-5 mb-md-0">
          <h4 class="fw-title">Latest Posts</h4>
          <div class="latest-blog">
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
            <div class="lb-item">
              <div class="lb-thumb set-bg" data-setbg=""></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <h4 class="fw-title">Top Comments</h4>
          <div class="top-comment">
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div class="tc-thumb set-bg" data-setbg=""></div>
              <div class="tc-content">
                <p><a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor sit amet, co</p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer-section">
  <div class="container">
    <ul class="footer-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="review.html">Games</a></li>
      <li><a href="categories.html">Blog</a></li>
      <li><a href="community.html">Forums</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</footer>
