<section class="content">
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <h4 class="comment-title"><%= @tab.name %></h4>

      <p><%= @tab.content %></p>
    </div>
  </div>
</section>
